
.canvas {
	height: calc(100vh - 60px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #E8E3E3;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.canvas img {
	margin: 20px;
	width: 200px;
	cursor: pointer;
}

.canvas .info {

}


.canvas .info h1 {
	color: #272727;
	margin: 0px;
}

.canvas .info h2 {
	color: #272727;
	margin: 0px;
}

.canvas .info button {
	background-color: transparent;
	border-style: solid;
	border-color: #272727;
	border-width: 1px;
	font-family: "Avenir";
	border-radius: 3px;
	color: #272727;
	font-size: 20px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
	margin: 0px;
	margin-top: 10px;
}