
.canvas {
	position: fixed;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 60%;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: #272727;
	overflow: hidden;
	z-index: 1;
	padding: 10px;
	margin: 0px;

	display: inline;

}

.imageContainer {

}

.imageContainer img {
	width: 100%;
}

.infoContainer h1 {
	padding: 0px;
	margin: 0px;
	text-align: left;
}

.infoContainer p {
	text-align: left;
	margin: 0px;
}

.closeButton {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 50px;
	width: 50px;
	background-color: transparent;
	color: white;
	font-size: 30px;
	border-style: none;
	cursor: pointer;
}

.nextButton {
	color: white;
	background-color: transparent;
	cursor: pointer;
	border-style: none;
	font-size: 30px;
}