
@font-face {
	font-family: "Pacifico";
	src: url("../../assets/Pacifico/Pacifico-Regular.ttf");
}

.canvas {
	min-height: calc(100vh - 60px);
	background-color: #E7E3E3;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.canvas form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	border-width: 1px;
	padding: 0px;
	box-shadow: 1px 1px 15px -9px #444444;
	border-style: solid;
	border-color: white;

}

.canvas form h1 {
	font-size: 25px;
	margin: 0px;
	width: 50vw;
	text-align: center;
	font-family: "Avenir";
	color: black;
	background-color: #E4E4E4;
	padding: 20px;
	margin-bottom: 10px 
}

.canvas form input[type="text"], .canvas form textarea {
	padding: 10px;
	font-size: 15px;
	width: 75%;
	outline: none;
	border-style: solid;
	border-color: #BDBDBD;
	border-width: 1px;
	background-color: transparent;
	color: #272727;
	margin: 10px;
	resize: none;
}

.canvas form input[type="submit"] {
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #C9A762;
	border-style: none;
	color: #272727;
	cursor: pointer;
	margin: 10px;
	font-size: 20px;
	font-family: "Avenir";
	border-radius: 3px;
}